.gallery {
 margin: 24px auto 0;
 display: flex;
 flex-wrap: wrap;
 gap: 24px;
 width: 1128px;
}

.gallery-item {
 width: calc((100% - 48px) / 3);
}

.gallery-image {
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover {
  transform: scale(1.05);
  cursor: url('../images/cursor.svg') 4 4, auto;

}

.sl-wrapper {
background-color: rgba(46, 47, 66, 0.8);
}

body .sl-wrapper .sl-counter {
color: #fff;
}

.sl-wrapper .sl-navigation button.sl-prev,
.sl-wrapper .sl-navigation button.sl-next {
  color: #fff;
  width: 24px;
  height: 24px;
}

body .sl-wrapper .sl-close {
  color: #fff;
  width: 32px;
  height: 32px;
}

.back {
  margin-top: 80px;
  margin-left: 20px;
}